Repository Orange-OpenSource/ouds-flutter, pull requests merged in 2025-07, with the labels that each got.

#243 component: badge variant
  NOTICE.txt
  app/CHANGELOG.md
  app/assets/ic_heart_badge.svg
  app/assets/il_components_badge.svg
  app/assets/il_components_badge_dark.svg
  app/lib/l10n/gen/ouds_flutter_app_localizations.dart
  app/lib/l10n/gen/ouds_flutter_app_localizations_ar.dart
  app/lib/l10n/gen/ouds_flutter_app_localizations_en.dart
  app/lib/l10n/ouds_flutter_ar.arb
  app/lib/l10n/ouds_flutter_en.arb
  app/lib/ui/components/badge/badge_code_generator.dart
  app/lib/ui/components/badge/badge_customization.dart
  app/lib/ui/components/badge/badge_customization_utils.dart
  app/lib/ui/components/badge/badge_demo_screen.dart
  app/lib/ui/components/badge/badge_enum.dart
  app/lib/ui/components/components.dart
  app/lib/ui/utilities/app_assets.dart
  app/lib/ui/utilities/customizable/customizable_textfield.dart
  ouds_core/CHANGELOG.md
  ouds_core/dartdoc_options.yaml
  ouds_core/lib/components/badge/internal/ouds_badge_size_modifier.dart
  ouds_core/lib/components/badge/internal/ouds_badge_status_modifier.dart
  ouds_core/lib/components/badge/ouds_badge.dart
Labels: ⚛️ component, 📱 demo app, 🧰 library, 👌 OK Design, 👌 OK PO, ⌛ waiting for validations

#242 component : chips filter variant
  NOTICE.txt
  app/CHANGELOG.md
  app/assets/ic_chip_heart.svg
  app/assets/il_components_chip.svg
  app/assets/il_components_chip_dark.svg
  app/lib/l10n/gen/ouds_flutter_app_localizations.dart
  app/lib/l10n/gen/ouds_flutter_app_localizations_ar.dart
  app/lib/l10n/gen/ouds_flutter_app_localizations_en.dart
  app/lib/l10n/ouds_flutter_ar.arb
  app/lib/l10n/ouds_flutter_en.arb
  app/lib/ui/components/chip/chip_customization.dart
  app/lib/ui/components/chip/chip_customization_utils.dart
  app/lib/ui/components/chip/chip_enum.dart
  app/lib/ui/components/chip/chip_filter_code_generator.dart
  app/lib/ui/components/chip/chip_filter_demo_sreen.dart
  app/lib/ui/components/chip/chip_suggestion_code_generator.dart
  app/lib/ui/components/chip/chip_suggestion_demo_screen.dart
  app/lib/ui/components/components.dart
  app/lib/ui/utilities/app_assets.dart
  app/lib/ui/utilities/customizable/customizable_chips.dart
  app/lib/ui/utilities/customizable/customizable_textfield.dart
  app/lib/ui/utilities/customizable/customizable_widget_state.dart
  ouds_core/CHANGELOG.md
  ouds_core/assets/symbol_filter_chip_selected.svg
  ouds_core/dartdoc_options.yaml
  ouds_core/lib/components/chip/internal/chip_background_modifier.dart
  ouds_core/lib/components/chip/internal/chip_border_modifier.dart
  ouds_core/lib/components/chip/internal/chip_icon_style_modifier.dart
  ouds_core/lib/components/chip/internal/chip_text_style_modifier.dart
  ouds_core/lib/components/chip/ouds_filter_chip.dart
  ouds_core/lib/components/chip/ouds_suggestion_chip.dart
  ouds_core/lib/components/control/internal/ouds_chip_control_state.dart
  ouds_core/lib/components/utilities/app_assets.dart
  ouds_core/lib/l10n/ouds_flutter_ar.arb
  ouds_core/lib/l10n/ouds_flutter_en.arb
Labels: ⚛️ component, 📱 demo app, 🧰 library, 👌 OK Design, 👌 OK PO, ⌛ waiting for validations

#265 feat: Integration of Sosh theme
  app/CHANGELOG.md
  app/lib/ui/theme/theme_controller.dart
  app/lib/ui/theme/theme_selector.dart
  app/lib/ui/tokens/color/color_screen.dart
  app/lib/ui/utilities/code.dart
  app/lib/ui/utilities/sheets_bottom/ouds_sheets_bottom.dart
  app/pubspec.yaml
  ouds_core/lib/components/checkbox/ouds_checkbox.dart
  ouds_core/lib/components/chip/ouds_filter_chip.dart
  ouds_core/lib/components/radio_button/ouds_radio_button.dart
  ouds_core/lib/components/switch/ouds_switch.dart
  ouds_core/pubspec.yaml
  ouds_global_raw_tokens/lib/color_raw_tokens.dart
  ouds_theme_contract/lib/theme/tokens/semantic/ouds_color_opacity_semantic_tokens.dart
  ouds_theme_orange/assets/symbol_checkbox_indeterminate.svg
  ouds_theme_orange/assets/symbol_checkbox_selected.svg
  ouds_theme_orange/assets/symbol_filter_chip_selected.svg
  ouds_theme_orange/assets/symbol_radio_selected.svg
  ouds_theme_orange/assets/symbol_switch_checked.svg
  ouds_theme_orange/pubspec.yaml
  ouds_theme_sosh/.gitignore
  ouds_theme_sosh/.metadata
  ouds_theme_sosh/CHANGELOG.md
  ouds_theme_sosh/LICENSE
  ouds_theme_sosh/README.md
  ouds_theme_sosh/analysis_options.yaml
  ouds_theme_sosh/assets/symbol_checkbox_indeterminate.svg
  ouds_theme_sosh/assets/symbol_checkbox_selected.svg
  ouds_theme_sosh/assets/symbol_filter_chip_selected.svg
  ouds_theme_sosh/assets/symbol_radio_selected.svg
  ouds_theme_sosh/assets/symbol_switch_checked.svg
  ouds_theme_sosh/fonts/Sosh-Black.ttf
  ouds_theme_sosh/fonts/Sosh-Bold.ttf
  ouds_theme_sosh/fonts/Sosh-Medium.ttf
  ouds_theme_sosh/fonts/Sosh-Regular.ttf
  ouds_theme_sosh/fonts/Sosh-Thin.ttf
  ouds_theme_sosh/lib/ouds_theme_sosh.dart
  ouds_theme_sosh/pubspec.yaml
  ouds_theme_sosh/test/ouds_theme_sosh_test.dart
  pubspec.yaml
Labels: 📱 demo app, 🧰 library, 🖌️ theme

#277 chore : include design component version in design toolbox app
  app/CHANGELOG.md
  app/lib/l10n/gen/ouds_flutter_app_localizations.dart
  app/lib/l10n/gen/ouds_flutter_app_localizations_ar.dart
  app/lib/l10n/gen/ouds_flutter_app_localizations_en.dart
  app/lib/l10n/ouds_flutter_ar.arb
  app/lib/l10n/ouds_flutter_en.arb
  app/lib/ui/about/about_screen.dart
  app/lib/ui/components/badge/badge_demo_screen.dart
  app/lib/ui/components/button/button_demo_screen.dart
  app/lib/ui/components/checkbox/checkbox_demo_screen.dart
  app/lib/ui/components/checkbox/checkbox_item_demo_screen.dart
  app/lib/ui/components/chip/chip_filter_demo_sreen.dart
  app/lib/ui/components/chip/chip_suggestion_demo_screen.dart
  app/lib/ui/components/divider/divider_demo_screen.dart
  app/lib/ui/components/radio_button/radio_button_demo_screen.dart
  app/lib/ui/components/radio_button/radio_button_item_demo_screen.dart
  app/lib/ui/components/switch/switch_demo_screen.dart
  app/lib/ui/components/switch/switch_item_demo_screen.dart
  app/lib/ui/utilities/environment.dart
  app/lib/ui/utilities/reference_design_version_component.dart
Labels: 📱 demo app, ⌛ waiting for validations

#286 [Bug][DemoApp] Bottom sheet is expanded by default
  app/CHANGELOG.md
  app/lib/ui/components/badge/badge_demo_screen.dart
  app/lib/ui/components/button/button_demo_screen.dart
  app/lib/ui/components/checkbox/checkbox_demo_screen.dart
  app/lib/ui/components/checkbox/checkbox_item_demo_screen.dart
  app/lib/ui/components/chip/chip_filter_demo_sreen.dart
  app/lib/ui/components/chip/chip_suggestion_demo_screen.dart
  app/lib/ui/components/divider/divider_demo_screen.dart
  app/lib/ui/components/radio_button/radio_button_demo_screen.dart
  app/lib/ui/components/radio_button/radio_button_item_demo_screen.dart
  app/lib/ui/utilities/sheets_bottom/ouds_sheets_bottom.dart
Labels: 🐞 bug, 👂 accessibility, 📱 demo app, 🔍 triage
